services:
  frontend:
    build: ../frontend
    ports:
      - "3000:3000"
    volumes:
      - ../frontend:/usr/src/app
    

  backend:
    build: ../backend
    ports:
      - "5000:5000"
    volumes:
      - ../backend:/usr/src/app
  