name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/github_ec2_key
          chmod 600 ~/.ssh/github_ec2_key

      - name: SSH to EC2 and deploy
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/github_ec2_key ubuntu@13.62.46.78 "
            cd ~/app-deploy &&
            aws ecr get-login-password --region eu-north-1 | docker login --username AWS --password-stdin 287109773319.dkr.ecr.eu-north-1.amazonaws.com &&
            docker pull 287109773319.dkr.ecr.eu-north-1.amazonaws.com/assimetria-backend:latest &&
            docker pull 287109773319.dkr.ecr.eu-north-1.amazonaws.com/assimetria-frontend:latest &&
            docker-compose up -d
          "
